
<mat-toolbar>
    <span>Command Center - MIS </span>
    <button class="menuButton" mat-button (click)="opened=!opened"><mat-icon class="mat-18">menu</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <button class="button" routerLink="/sp" routerLinkActive="activebutton" ariaCurrentWhenActive="page">SÃO PAULO</button>
      <button class="button" routerLink="/pr" routerLinkActive="activebutton" ariaCurrentWhenActive="page">PARANÁ</button>
      <button class="button" routerLink="/rj" routerLinkActive="activebutton" ariaCurrentWhenActive="page">RIO DE JANEIRO</button>
    </mat-sidenav>
    <!-- Body -->
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
