.content {
  padding: 30px;
  margin-bottom: 0;
}

mat-toolbar {
  background: -webkit-linear-gradient(right, rgb(6, 100, 92), rgb(3, 70, 64));
  color: #fff;
}

.mat-sidenav-container {
  height: calc(205vh - 120);
}

mat-sidenav {
  width: 220px;
  /* background: linear-gradient(to bottom, rgb(6, 100, 92) 10%, rgb(3, 70, 64) 90%); */
  background: transparent;
  color: #fff;
  border-right: transparent;
}

.menuButton {
  background-color: transparent;
  border: none;
  color: #fff;
}

.btnRow {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-around;
  justify-items: center;
}

.button {
  width: 185px;
  height: 117.4px;
  margin-left: 14%;
  margin-top: 28%;
  padding: 0;
  background: gray;
  border: none;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: all 0.1s ease;
}
.activebutton {
  background: linear-gradient(to right, rgb(3, 70, 64), rgb(6, 100, 92));
  color: #ffffff;
}
.button:hover {
  background: #101331;
  color: #ffffff;
}

.mini-img {
  float: left;
  margin-left: 10%;
  height: 50%;
}

.register {
  margin: 5%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgb(155, 184, 26); */
  }
